* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  border: 1px solid #dbdbdb;
  background-color: #ffffff;
}

.barraTopo {
  width: 953px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  margin: 0 auto;
}

.topBarMobile {
  display: none;
}

.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  font-size: 20px;
  padding-left: 9px;
}

.divisorLogos {
  width: 1px;
  height: 22px;
  background-color: #dbdbdb;
}

.barraPesquisa {
  width: 215px;
  height: 28px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: #fafafa;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: #979797;
}

.iconesDireita {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 158px;
  font-size: 25px;
}

main {
  display: flex;
  flex-direction: column;
  width: 935px;
  margin: 88px auto 0;
}

.container {
  width: 614px;
  margin-right: 5%;
}

.storiesBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 118px;
  width: 614px;
  padding-left: 17px;
  overflow-x: hidden;
}

.story {
  width: 66px;
  height: 66px;
  margin-right: 14px;
  position: relative;
  bottom: 5px;
}

.bordaStories {
  width: 66px;
  height: 66px;
  border-radius: 33px;
  margin-right: 14px;
}

.storiesUserIcon {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.story p {
  font-size: 12px;
  font-weight: 400;
  margin-top: 1px;
  position: absolute;
  left: 14px;
}

.flechaStories {
  font-size: 26px;
  position: absolute;
  margin-left: 560px;
  color: #ffffff;
  filter: drop-shadow(2px 2px 2px rgb(122, 122, 122));
}

.post {
  width: 614px;
  height: 749px;
  margin-bottom: 60px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  position: relative;
  border-radius: 3px;
  background-color: #ffffff;
}

.post h1 {
  position: absolute;
  left: 64px;
  top: 21px;
  font-weight: 500;
}

.userOptions {
  position: absolute;
  right: 18px;
  top: 21px;
}

.userIconPost {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  position: absolute;
  left: 17px;
  top: 15px;
}

.imagemPost {
  width: 612px;
  height: 612px;
  margin: 61px 0px 76px 0px;
}

.postActions {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 80px;
  font-size: 20px;
  bottom: 40px;
  left: 18px;
}

.bookmark {
  position: absolute;
  bottom: 40px;
  right: 18px;
  font-size: 20px;
}

.likedIcon {
  position: absolute;
  left: 17px;
  bottom: 10px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.post p {
  position: absolute;
  left: 40px;
  bottom: 12px;
  font-size: 14px;
  font-weight: 300;
}

.postFooter {
  font-weight: 500;
}

.sidebar {
  width: 293px;
  height: auto;
  position: fixed;
  margin-left: 645px;
  background-color: #fafafa;
  z-index: 1;
}

.mainUser {
  display: flex;
  align-items: center;
  height: 100px;
}

.mainUser img {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  position: relative;
}

.mainUser p {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  left: 17px;
  bottom: 10px;
  color: #262626;
}

.nameMainUser {
  font-weight: 300;
  color: #8e8e8e;
  position: relative;
  top: 20px;
  right: 53px;
}

.suggested {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 17px;
}

.suggested p {
  font-size: 12px;
  font-weight: 500;
  color: #8e8e8e;
}

.seeAll {
  color: #262626;
  margin-left: 124px;
}

.suggestedProfiles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 226px;
}

.suggestedProfiles img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.suggestedProfiles h2 {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  height: 14px;
  position: relative;
  bottom: 30px;
  left: 40px;
}

.suggestedProfiles h3 {
  height: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #8e8e8e;
  position: relative;
  bottom: 24px;
  left: 40px;
}

.follow {
  width: 67px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 252px;
  bottom: 275px;
}

.follow p {
  font-size: 12px;
  font-weight: 500;
  color: #139ef2;
  margin-bottom: 46px;
}

footer {
  margin-top: 15px;
  position: relative;
  bottom: 289px;
}

.sidebarFooter {
  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
  line-height: 13px;
  margin-bottom: 18px;
}

.mobileBottomBar {
  display: none;
}

@media (max-width: 935px) {
  .barraTopo {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .container {
    margin: 0 auto;
  }

  main {
    width: 100%;
  }
}

@media (max-width: 614px) {
  .barraTopo {
    display: none;
  }

  .topBarMobile {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  main {
    width: 100%;
    margin: 55px auto 0;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .post {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    position: relative;
    border-radius: 3px;
    background-color: #ffffff;
  }

  .imagemPost {
    width: 100%;
    height: auto;
    margin: 61px 0px 76px 0px;
  }

  .mobileBottomBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 54px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    border: 1px solid #dbdbdb;
    background-color: #ffffff;
  }

  .storiesBox {
    width: 100%;
    padding-left: 3%;
    overflow-x: hidden;
  }

  .flechaStories {
    display: none;
  }
}

@media (min-width: 614px) {
  .storiesBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 118px;
    width: 614px;
    margin-bottom: 24px;
    padding-left: 17px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #ffffff;
    overflow-x: hidden;
  }
}
